doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes')
    // styles
    block stylesheet
    if(stylesheetSrc)
      link(rel='stylesheet', href=stylesheetSrc)
    else
      style
        | !{inlineStylesheet}
    script(src='https://app.kenticocloud.com/js-api/custom-element.js')

  body
    block content
      .content
    block script
      if(scriptSrc)
        script(src=scriptSrc)
      else
        script
          | !{inlineScript}
